body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Open Sans'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import './hoc/Layout/Layout.css';
@import './components/Burger/Burger.css';
@import './components/Burger/BurgerIngredient/BurgerIngredient.css';
@import './components/Burger/BuildControls/BuildControls.css';
@import './components/Burger/BuildControls/BuildControl/BuildControl.css';
@import './components/UI/Modal/Modal.css';
@import './components/UI/Backdrop/Backdrop.css';
@import './components/Navigation/Toolbar/Toolbar.css';
@import './components/Logo/Logo.css';
@import './components/Navigation/NavigationItems/NavigationItem/NavigationItem.css';
@import './components/Navigation/NavigationItems/NavigationItems.css';
@import './components/Navigation/SideDrawer/SideDrawer.css';
@import './components/Navigation/SideDrawer/DrawerToggle/DrawerToggle.css';
